*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;  
}
.menuBlock{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    background: rgb(227, 222, 214);
}
h4{
    font-size: 22px;
}
.orderBlock{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #d89cf6;
}
.foodCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    height: 160px;
    padding: 8px 18px;
    background: #70559b;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 28px;
    margin-bottom: 38px;
    line-height: 40px;
    transition: 0.5s ease-in-out;
}
.foodCard:hover{
    box-shadow: 2px 7px 15px rgba(40, 3, 49, 0.9);
    transition: 0.5s ease-in-out;

}
.foodImg{
    width: 70px;
    height: 70px;
}
#menuList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 40px;
}
#orderList{
    width: 80%;
}
li{
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid;
    width: 95%;
    padding: 9px;
    margin: 15px;
    background: #70559b;
    color: white;
    font-size: 20px;
    text-align: center;
    align-items: center;
    font-weight: 600;
    border-radius: 6px;
    margin-bottom: 20px;
}

.clear{
    cursor: pointer;
}
h3{
    font-size: 22px;
}
h4{
    font-size: 23px;
    padding-bottom: 20px;
}